@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Open+Sans:wght@500&family=Poppins:wght@600;700&display=swap');
body {
  margin: 0;
  font-family: 'Gulzar', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
